@charset "UTF-8";

#content{
	margin-top: 203px;
}

td {
	height: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px;
	text-align: center;
}

#tr2{
	font-weight: bold;
	font-size: 18px;
	border-top: 3px solid #8C5f5f5;
	border-bottom: 2px solid #8C8C8C;
	border:none;
}

#ta1{
	text-align: center;
    margin-top: -57px;
	
}

.check{
	width: 51px;
	text-align: center;
}

.filename{
	width: 185px;
	height: 181px;
}

.pname{
	width: 390px;
	text-align: center;
}

.uniprice{
	width: 99px;
    text-align: center;
}

.quantitiy{
	width: 90px;
    text-align: center;
}

.plus{
	width: 130px;
	text-align: center;
}

.order{
	width: 130px;
	text-align: center;
}

.backbtn1{
	 margin-top: 5px;
}

.text1{
	width: 16px;
}





.content_total_section{
		    background-color: rgb(227, 237, 247);
		    margin-top: 432px;
	}		
		.total_wrap{
			width: 80%;
		    margin: auto;
		    padding: 10px 0 10px 0;	
		}
			.total_wrap td{
				width : 50%;
			}
			.finalTotalPrice_span{
				color: #854A72;
				font-size: 17px;
				font-weight: bold;
			}
			.totalPoint_span{
				font-size: 17px;
				font-weight: bold;		
			}
			.boundary_div{
				font-size: 0;
			    border: 1px dotted #d1c7c7;
			    margin: 5px 0 5px 0;		
			}
			
		.input_size_20{
			width:20px;
			height:20px;
		}
		.all_check_input{
			margin: 18px 0 18px 18px;
		}
		.all_chcek_span{
			padding-left: 8px;
	    	font-size: 20px;
	    	font-weight: bold;		
		}		
		
#pname1{
	width: 873px;
}	

